$navFontSize: 0.938em;

$fontsizeSmallPara:0.938em;
$fontsizeMediumTitle: 1.375em;
$fontsizeBigTitle: 2.500em;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: black;
  background: white;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: flex-start;
}

.formtitel {
  color: white;
}

form {
  p { 
    color: white;
  }
  label {
    color: white;
  }
}