.event_layout {
    width: 1366px;
    height: auto;
    background-color: black;
    display: grid;
    grid:
      "header header header header" auto
      "body body rightSide rightSide" 1fr
      "footer footer footer footer" auto
      / auto 1fr auto;
    gap: 0px;
    grid-auto-flow: row dense;

    .banner {
        max-width: 100%;
        height: auto;
        margin-bottom: 2em;
    }

    .event_dlayout {
        display: flex;
        margin: 2em;
        
        
        

        .event_content {
            flex-wrap: wrap;
            justify-content: space-between;
            height: auto;
            

        
            .edtitelbg {
                background-color: #CC3333;
                max-width: 650px;
                padding: 1rem;
                margin: 1em;

                .edtitel {
                    color: white;
                }
                .eddato {
                    color: white;
                }
            }
            .edbanner {
                margin-left: 1em;
                max-width: fit-content;
                height: auto;
                
                
            }
            .edbox {
                background-color: white;
                padding: 1.5rem;
                margin: 1em;
                max-width: 650px;
                .edh4 {
                    color: black;
                    font-weight:bold;
                    margin-top: 1rem;
                }
            }         
        }

        .eventd_sidebar {
            margin-top: 1em;
            margin-left: auto;
            border-style: solid;
            border-color: rgb(253, 253, 253);                 
        }        
    }
    .edknap {
        height: 35px;
        width: 100px;
        background-color: #CC3333;
        color: rgb(255, 255, 255);
        border: none;
        margin-left: 4em;
        margin-bottom: 4em;
        cursor: pointer;
    }
    .edknap:hover {
        background-color: #961b1b;
    }
}