.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .formtitel {
        justify-content: flex-start;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: 500;
    }

    .formbeskrivelse {
        width: 90%;
        font-size: 14px;
        text-align: center;
    }

    #title {
        width: 300px;
        height: 0px;
    }

    .datoogtid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .datoogtid2 {
            margin-right: 15px;
            margin-left: 15px;
            }   
    }
    .billedeimport {
        margin-left: -190px;

        button.importknap {
            width: 45px;
            height: 45px;
            font-size: 16px;
            }
    }

    #content {
        width: 300px;
        height: 100px;
    }

    #author {
        width: 300px;
        height: 40px;
    }

    .adresseogby {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .adresseogby2 {
            margin-right: 15px;
            margin-left: 15px;
        }
    }

    #date, #location {
        width: 135px;
        height: 30px;
    }
    
    .formknapper {
        display: flex;
        justify-content: space-between;
        
        button.createpostknap, .annullerknap {
            margin-right: 20px;
            margin-left: 20px;
        }
    }
}  

.form-overlay form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background-color: #0a0a0a;
    padding: 2rem;
}
.form-overlay input,
.form-overlay button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.form-overlay button {
    background-color: #CC3333;
    color: #ffffff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 130px;
}
.form-overlay button:hover {
    background-color: #961b1b;
}


  