@import './_base.scss';

.sidebar {
    width: 350px;

    .headtext_sidebar {
        color: white ;
        font-family: 'AvenirMediumH' sans-serif;
        font-size: 1.8em;
        text-align: center;
        margin-top: 3em;
    }

    .sidebar_line {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 3.1em;
        color: white;    
    }

    .sidebar_event {
        display: flex;
        margin-top: 3em;
        margin-left: 1.5em;
        margin-right: 1em;

        .sidebar_img {
            max-width: 120px;
            height: 120px;
        }

        .sidebar_event_details {
            flex-wrap: wrap; 
            margin-left: 10%;  
            
            .sidebar_title {
                color: white;                
            }

            .sidebar_date {
                color: white;
                font-family: 'BaskerRegularPara', serif;
                font-size: 1.2em;
                margin-top: 0.7em;
            }
        }
    }
}