@import './_base.scss';

.sidebar {
    width: 350px;
    

    .headtext_sidebar {
        color: white ;
        font-family: 'AvenirSmallH' sans-serif;
        font-size: 1.375em;
        text-align: center;
        margin-top: 3em;




    }
    .sidebar_line {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 4em;
        color: white;    
    }

    .sidebar_event {
        display: flex;
        margin: 1em;
       

        .sidebar_img {
            max-width: 100px;
            height: 100px;

        }

        .sidebar_event_details {
            flex-wrap: wrap; 
            margin-left: 5%;  
            
            .sidebar_title {
                color: white;
                
                
            }

            .sidebar_date {
                color: white;
            }


        }
    }
}