.sidebar {
    

    .headtext_sidebar {


        .sidebar_line {


            .sidebar_event {
                display: flex;
                flex-wrap: wrap;

                .sidebar_img {
                    width: 50%;
                    height: 50%;

                }



            }
        }
    }
}