/* color palette */
$blackBackGround: #000000;
$whiteBackGround: #FFFFFF;
$redColorAccent: #CC3333;

/* desktop sizes*/
$navFontSize: 0.938em;

$fontsizeSmallPara:0.938em;
$fontsizeMediumTitle: 1.375em;
$fontsizeBigTitle: 2.500em;

/*mobile sizes*/



/* fonts */

@font-face {
  font-family: 'AvenirH';
  src: local('AvenirH') url(./fonts/AvenirLTStd-Heavy.ttf) 
  format("truetype"); 

  font-family: 'AvenirMediumH';
  src: local('AvenirMediumH') url(./fonts/AvenirLTStd-Medium.ttf) 
  format("truetype"); 

  font-family: 'AvenirSmallH';
  src: local('AvenirSmallH') url(./fonts/AvenirLTStd-Light.ttf) 
  format("truetype"); 

  font-family: 'BaskerRegularPara';
  src: local('BaskerRegularPara') url(./fonts/BaskervilleMTStd-Regular.ttf) 
  format("truetype"); 

  font-family: 'BaskerSemibPara';
  src: local('BaskerSemibPara') url(./fonts/BaskervilleMTStd-Semibold.ttf) 
  format("truetype"); 

  font-family: 'BaskerBold';
  src: local('BaskerBold') url(./fonts/BaskervilleMTStd-Bold.ttf) 
  format("truetype"); 

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var($blackBackGround);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'AvenirH' sans-serif, 'AvenirMediumH' sans-serif, 'AvenirSmallH' sans-serif, 
  'BaskerRegularPara', 'BaskerSemibPara', 'BaskerBold';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: flex-start;
  
}
