@import './_base.scss';
@import './_event.scss';
@import './_nav.scss';
@import './_eventdetaljer.scss';
@import './_rightsidebar.scss';
@import './_opretform.scss';
@import './_footer.scss';
@import './_searchSection.scss';

/* fonts */
@font-face {
  font-family: 'AvenirH';
  src: url(/src/assets/fonts/AvenirLTStd-Heavy.ttf) 
  format("truetype"); 

  font-family: 'AvenirMediumH';
  src: url(/src/assets/fonts/AvenirLTStd-Medium.ttf) 
  format("truetype"); 

  font-family: 'AvenirSmallH';
  src: url(/src/assets/fonts/AvenirLTStd-Light.ttf) 
  format("truetype"); 

  font-family: 'BaskerRegularPara';
  src: url(/src/assets/fonts/BaskervilleMTStd-Regular.ttf) 
  format("truetype");

  font-family: 'BaskerSemibPara';
  src: url(/src/assets/fonts/BaskervilleMTStd-Semibold.ttf) 
  format("truetype");

  font-family: 'BaskerBold';
  src: url(/src/assets/fonts/BaskervilleMTStd-Bold.ttf) 
  format("truetype"); 
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}