@import './_base.scss';
@import './_event.scss';
@import './_nav.scss';
@import './_eventdetaljer.scss';
@import './_rightsidebar.scss';
@import './_opretform.scss';
@import './_footer.scss';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


